.app {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    box-sizing: border-box;
}

.notes-list {
    flex-grow: 1;
    padding: 20px;
}

.toolbar {
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 16px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
    border-radius: 8px;
    width: 100%;

    min-height: 40px;
    box-sizing: border-box; }